.row
    .container-fluid
        Header
        .content
            .edit-block
                p + Add Task
            .edit-block-active
                .title
                .content
                    .deadline
                    .file
                    .commit
                .edit-button
                    button X Cancel
                    button + Add Task

            .list-block
                input(type="checkbox", name="")
                .title-block
                    .title-text
                    .start
                    .edit
                .date-block
                    .deadline
                    .file    
